@import "shared";

#dish-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.dish-title {
  font-size: 30px;
  margin-bottom: 20px;
}

#dish-text {
  margin-bottom: 20px;
}

#dish-ingredient-box {
  @include box-shadow;
  background: white;
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
}

#dish-ingredient-table {
  width: 100%;
  text-align: left;
  margin-bottom: 40px;

  td:nth-child(3) {
    text-align: right;
  }
}