@import "shared";

#search {
  display: grid;
  grid-template-columns: auto 200px 150px;
  grid-template-areas: "search select btn";
  grid-gap: 15px;

  input, select {
    border: none;
    outline: none;
  }

  .search-container {
    @include box-shadow;
    grid-area: search;
    background: white;
    padding: 15px;
    display: flex;
    align-items: center;

    input {
      margin-left: 5px;
      flex-grow: 1;
      width: 100px;
    }
  }

  .select-container {
    @include box-shadow;
    grid-area: select;
    display: flex;
    align-items: center;
    background: white;
    position: relative;

    select {
      z-index: 10;
      background: none;
      flex-grow: 1;
      border-radius: 0;
      font-size: inherit;
      padding: 15px;
      -webkit-appearance: button;
    }

    .arrow-container {
      position: absolute;
      right: 20px;
      z-index: 0;
    }
  }

  .dinner-btn {
    grid-area: btn;
  }
}
