@import "shared";
@import "sidebar";
@import "buttons";
@import "search";
@import "food-grid";
@import "dish-content";
@import "my-dinner";

* {
  box-sizing: border-box;
}

input {
  font-size: 16px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #464646;
  background-color: #FBFBFB;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

header {
  font-family: "Playfair Display SC", serif;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

#welcome-box {
  max-width: 900px;
  margin: 40px auto 0 auto;
  background-color: white;
  box-shadow: rgba(0,0,0,0.1) 0px 15px 40px;
  padding: 100px;
}

#welcome-btn-container {
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 40px;
  padding: 0px 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.container-nogrid {
  padding: 0px 20px;
  max-width: 1280px;
  margin: 0 auto;
}
