@media (max-width: 767px) {
  header {
    font-size: 48px;
  }

  #welcome-box {
    margin: 30px auto;
    padding: 40px;
  }
}

@media (max-width: 575px) {
  header {
    font-size: 24px;
  }

  #search {
    grid-template-columns: auto 150px;
    grid-template-areas:
      "search search"
      "select btn";
  }
}

@media (max-width: 320px) {
  #search {
    grid-template-columns: auto 120px;
  }
}