@mixin dinner-btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  transition: 300ms all;
  transition-property: transform, box-shadow;
  outline: none;
  border: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.dinner-btn {
  @include dinner-btn;
  cursor: pointer;
  background: linear-gradient(90deg, #FF79AD, #FF418A);
  box-shadow: rgba(#FF1D78, 0.4) 0 10px 20px;

  &:hover {
    transform: translateY(-3px);
    box-shadow: rgba(239, 61, 121, 0.25) 0 15px 20px;
  }

  &:active {
    background: linear-gradient(90deg, darken(#FF82AC, 10%), darken(#F7538A, 15%));
  }
}

.dinner-btn-disabled {
  @include dinner-btn;
  background-color: #EBEBEB;
}