@import "shared";

#dish-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "info ingred"
    "prep prep";
  grid-gap: 20px;
  margin-bottom: 50px;
}

#dish-img {
  max-width: 100%;
  margin-bottom: 20px;
}

#dish-title, #ingredients-title {
  font-size: 30px;
  margin-bottom: 20px;
}

#dish-text {
  margin-bottom: 20px;
}

#dish-ingredient-box {
  @include box-shadow;
  background: white;
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
}

#dish-ingredient-table {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;

  td:nth-child(3) {
    text-align: right;
  }

  .last-row td {
    padding-top: 10px;
    font-weight: bold;
  }
}

#dish-object { grid-area: info; }
#dish-ingredients { grid-area: ingred; }
#dish-preparation { grid-area: prep; }
