@import "shared";

#grid-container {
  display: grid;
  grid-gap: 20px;
  padding-top: 40px;
  margin-bottom: 40px;
}

.sparse-grid {
  grid-template-columns: repeat(auto-fit, 200px);
}

.responsive-grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.loading {
  border-radius: 10px;
  height: 200px;
  max-width: 250px;
  background: linear-gradient(270deg, #f5f5f5, #e9e9e9, #f5f5f5);
  background-size: 400% 400%;
  animation: panel-loading-anim 1s ease infinite;
}

@keyframes panel-loading-anim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#nav-buttons {
  display: flex;
  justify-content: flex-end;
}
