#myDinner-recipes {
  padding: 40px 0;
}

.recipe {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px;

  h2 { margin-bottom: 5px }

  img {
    max-width: 100%;
  }
}
